# Angular Build & Dependencies
/node_modules
/dist
/tmp
/out-tsc
/bazel-out
/.angular/cache

# Logs & Debugging Files
npm-debug.log*
yarn-error.log
pnpm-debug.log
testem.log
libpeerconnection.log

# IDE & Editor Specific Files
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.firebase/
.sass-cache/
connect.lock
coverage/
typings/

# System Files
.DS_Store
Thumbs.db
*.swp
*.swo
*.bak

# Environment Variables
.env
.env.local
.env.development
.env.production

#useless java setup
projects/second/src/app/service/Oracle_JDK-23/
